body{
    background: url("../images/pexels-igor-ovsyannykov-205961.jpg") no-repeat center fixed; 
    background-size: cover;
}
div{
    background-color:rebeccapurple;
    width: 60%;
    text-align: center;
    margin: 200px auto;
    border-radius: 30px;
    opacity: 0.8;
    font-family: 'Fredoka One', cursive;
    
}

i{
    margin: 10px;
    font-size: 100px;
    color: #020202;
}
button{
    font-size: 25px;
    font-family: 'Fredoka One', cursive;
}
h1{
    color: white;
}
p{
    color: white;
    font-size: 25px;
}